{% extends "layout.html.twig" %}
{% block content %}
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <!--<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>
                    <img class="thumbnail" src="https://placehold.it/550x350">
                </div>
            </div>-->

            <div class="off-canvas-content" data-off-canvas-content>

                <div class="callout">
                    <div class="row column">
                        <h1>Dashboard projet Caviste</h1>
                        <p class="lead">Voici tous nos vins de la base de donnée</p>
                        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                             
                          <ul class="orbit-container">
                            <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
                            <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
                        {% for wine in wines|slice(0,2) %}
                            <li class="orbit-slide is-active">
                              <img src="http://localhost/caviste/public/vins/{{wine.picture}}">
                            </li>
                        {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>

                <div class="row small-up-2 medium-up-3 large-up-5">
                    {% for wine in wines %}
                        <div class="column fiche">
                            <img class="thumbnail" src="http://localhost/caviste/public/vins/{{wine.picture}}">
                            <p class="wine-type">{{wine.region}}</p>
                            <p>{{wine.name}}</p>
                            <p class="wine-price">5 &euro;</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
